<section id="360">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Walk through our yacht</h2>
                <hr class="primary">

                <style>
    #vrview {
        position: relative;
        padding-bottom: 50%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    #vrview iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
                </style>

                <!--div class="google-maps">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2s!4v1480067471992!6m8!1m7!1sF%3A-jyysFnxicDA%2FWDfzneJ6XXI%2FAAAAAAAAx04%2FwkLLvtRUHzsXh6ZI8l9TGUzQvQ1_YysNwCLIB!2m2!1d1.243809573618883!2d103.8403768936217!3f219.26782501225227!4f-3.499457032469678!5f0.4000000000000002" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div-->

                <div id="vrview"></div>
            </div>
        </div>
    </div>
</section>
