<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">For your laxuary time on the sea.</h2>
                <hr class="light">
                <p class="text-faded">We offer boat chartering service from Singapore. For company event or for weekend staycation.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
