<section id="faq">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">FAQ</h2>
                <hr class="primary">

                <h3>Q. Can we stay overnight?</h3>
                <h4>A. Yes, you can! Please contact us to arrange more detail.</h4>
                </br>
                <h3>Q. Where the boat departing from?</h3>
                <h4>A. We depart form One Degree 15 at Sentosa Island.</h4>

            </div>
        </div>
    </div>
</section>
