<section class="bg-primary" id="route">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Cruise Route</h2>
                <hr class="light">

                <style>
    .google-maps {
        position: relative;
        padding-bottom: 50%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
                </style>

                <div class="google-maps">
                  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1kzthj6etnewiaDkDMeAwasHJexo" width="800" height="600"></iframe>
                </div>

            </div>
        </div>
    </div>
</section>
